html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;

  #dashboard {
    flex: 1;
    // height: $full_height;
    overflow-y: scroll;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    .dashboard_columns {
      margin: 0;
      height: 100%;
    }
    .dashboard_column {
      height: 100%;
    }
  }

  .is-hoverable {
    tr {
      cursor: pointer;
    }
  }
}

@import './Card/card';
@import './NavbarTop/menu';
@import './NavbarTop/navbar-sso';
@import './Documents/documents';
@import './Library/library';
@import './Results/results';
@import './Loader/loader';
