html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;

  #dashboard {
    flex: 1;
    // height: $full_height;
    overflow-y: scroll;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    .dashboard_columns {
      margin: 0;
      height: 100%;
    }
    .dashboard_column {
      height: 100%;
    }
  }

  .is-hoverable {
    tr {
      cursor: pointer;
    }
  }
}

.card-container {
  .card {
    height: 100%;
    border-radius: 15px;

    .card-header {
      height: 48px;
      border-radius: 15px 15px 0px 0;

      .expand_button {
        background-color: transparent;
        border: none;
        border-radius: 15px;
        color: $purple;
      }
    }

    .card-content {
      overflow: hidden;
      height: calc(100% - 110px);
      background-color: #ffffff;
    }

    .card-footer {
      height: 62px;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }

  &.expanded {
    padding: 0.75rem;
    width: $full_width;
    height: $full_height;
    position: fixed;
    top: $nav_height;
    left: $nav_width;
    z-index: 2;
  }

  ul {
    list-style-type: none;
  }
}

@import './NavbarTop/menu';
@import './NavbarTop/navbar-sso';
@import './Documents/documents';
@import './Library/library';
@import './Results/results';
@import './Loader/loader';
